.container {
    width: 300px;
    height: 350px;
    margin: auto;
    /* display: grid; */
    border: 2px groove rgb(21, 6, 88);
    border-radius: 5px;
    /* background-color:darkgrey; */
    background-color: rgb(247, 247, 255);
}

.title {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.first-row {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.output {
    background-color: azure;
    margin-bottom: 5px;
    border: 1px solid black;
    padding:10px;
    width:100px;
    height: 30px;
    text-align: right;
    
}

.second-row, .third-row, .fourth-row, .fifth-row  {
    justify-content: space-between;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    /* padding: 20px; */
}
.number {
    padding: 15px;
}
button {
    width: 50px;
    height:50px;
    background-color: aquamarine;
    border-color:cadetblue;
    /* color: white; */
}
button:hover {
    background-color:cornflowerblue;
}